.DS_Store
src/DEFT/DEFT.xcodeproj/project.xcworkspace/xcuserdata/
src/DEFT/DEFT.xcodeproj/xcuserdata/
src/Wifinity/Wifinity.xcodeproj/project.xcworkspace/xcuserdata/
src/Wifinity/Wifinity.xcodeproj/xcuserdata/